/vendor
/node_modules
/storage/*.key
/.env
/.idea
/.vscode
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/composer.lock
package-lock.json